python-dotenv
pandas
requests
beautifulsoup4
numpy
wrapt_timeout_decorator
robin_stocks
jinja2
investpy
jupyter
yfinance
requests_cache
requests_ratelimiter
pyrate_limiter
pyyaml
pyinstaller
multiprocess
wrapt