python-dotenv~=1.0.0
pandas==2.0.3
requests~=2.30.0
beautifulsoup4~=4.12.2
numpy==1.25.1
wrapt_timeout_decorator
robin_stocks==3.0.5
jinja2
investpy
jupyter
yfinance
requests_cache
requests_ratelimiter
pyrate_limiter
pyyaml
pyinstaller